/* Settings généraux */

body {
    font-size: 100%;
    font-family: "Open Sans", Arial, sans-serif;
    background-image: url("http://localhost/ci_village_green/assets/images/BACKGROUND/background_village.png");
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
    padding-left: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 500;
}

.main-background {
    background-color: rgba(255, 255, 255, 0.8);
}

.main-container {
    max-width: 1195px;
    box-shadow: -2px 1px 8px #000;
    min-height: 700px;
    margin-bottom: -3em;
}

.bg-grey {
    background-color: rgb(200, 200, 200);
}

.blue {
    fill: #002b53;
}

.blue-text
{
    color: #002b53;
}
.test{
    margin-top: 2em;
    max-width: 800px;
    background-color: #E7E7E7;
    padding : 3em;
    margin-left: 12em;
    border-radius: 8px;
    display: flex;
    justify-content: center;

}
.inscription{
    text-decoration: none;
}
form label{
    margin-top: 1em;
    margin-bottom: 1em;
}
.btn{
    margin-bottom: 1em;
    margin-top: 2em;
    background-color: #BE4A00 ;
    width: 10em;
    color: white;



}

/* HEADER */
/* Navbar */

/* Navbar collapsed */
.bg-logo-vg {
    background-color: #e7e7e7;
}

#logo-vg {
    max-height: 170px;
    width: auto;
}

#navlogo {
    z-index: 2;
    width: 22%;
}

#navlogo img {
    z-index: 2;
    height: 170px;
}

#navbar {
    align-self: flex-start;
    justify-self: flex-end;
    width: 100%;
    position: relative;
    right: 22%;
    top: 5%;
    background-color: transparent;
}

#navbar a:hover {
    color: rgb(237, 146, 35);
    transition: all 400ms ease-out;
}

.badge-picto-panier
{
    top: 35%;
    left: 45%;
}

#nav-first-row a {
    color: black;
    font-weight: 500;
    font-size: 1rem;
}

#item-client,
#item-client-nav-coll {
    position: relative;
}

#item-client-submenu,
#item-client-submenu-nav-coll {
    display: none;
    position: absolute;
    z-index: 10;
    left: -100%;
    top: 100%;
}

#item-client-submenu2,
#item-client-submenu2-nav-coll {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0%;
    top: 100%;
    min-width: 12vw;
}

#item-client-submenu input,
#item-client-submenu label,
#item-client-submenu a,
#item-client-submenu div,
#item-client-submenu2 a {
    font-size: 0.8rem;
}

#item-client-submenu p {
    font-size: 0.7rem;
}

#item-client-submenu h6 {
    font-size: 0.8rem;
}

.focus-orange:focus
{
    border-color: rgba(206, 82, 0, 1);
    outline: rgba(206, 82, 0, 1) solid 3px;
    box-shadow: none;
}

#nav-second-row {
    background-color: rgb(163, 159, 159);
    font-size: 1.2rem;
}

#nav-second-row div {
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin-right: 0;
}

#nav-second-row a {
    color: #fff;
}

#nav-third-row {
    background-color: rgb(55, 55, 55);
    font-weight: 500;
}

#nav-third-row a {
    color: #fff;
    font-size: 0.9rem;
}

#nav-third-row-item-guitar,
#nav-third-row-item-drums,
#nav-third-row-item-keyboard,
#nav-third-row-item-studio,
#nav-third-row-item-sono,
#nav-third-row-item-lights,
#nav-third-row-item-dj,
#nav-third-row-item-cases,
#nav-third-row-item-accessories {
    position: relative;
    overflow: visible;
}

#item-guitar-submenu,
#item-drums-submenu,
#item-keyboard-submenu,
#item-studio-submenu,
#item-sono-submenu,
#item-lights-submenu,
#item-dj-submenu,
#item-cases-submenu {
    display: none;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0%;
    opacity: 1;
    background-color: #fff;
    border-radius: 5px;
    padding-left: 20%;
    padding-right: 20%;
    /* width: 175%; */
    width: 14vw;
    font-size: 0.8rem;
}

#item-accessories-submenu {
    display: none;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: -80%;
    opacity: 1;
    background-color: #fff;
    border-radius: 5px;
    padding-left: 20%;
    padding-right: 20%;
    width: 175%;
    font-size: 0.8rem;
}

#item-guitar-submenu ul,
#item-drums-submenu ul,
#item-keyboard-submenu ul,
#item-studio-submenu ul,
#item-sono-submenu ul,
#item-lights-submenu ul,
#item-dj-submenu ul,
#item-cases-submenu ul,
#item-accessories-submenu ul {
    padding: 0;
    margin: 0;
}

#item-guitar-submenu li,
#item-drums-submenu li,
#item-keyboard-submenu li,
#item-studio-submenu li,
#item-sono-submenu li,
#item-lights-submenu li,
#item-dj-submenu li,
#item-cases-submenu li,
#item-accessories-submenu li {
    position: relative;
    z-index: 1;
    list-style-type: none;
}

#nav-third-row #item-guitar-submenu li a,
#item-drums-submenu li a,
#item-keyboard-submenu li a,
#item-studio-submenu li a,
#item-sono-submenu li a,
#item-lights-submenu li a,
#item-dj-submenu li a,
#item-cases-submenu li a,
#item-accessories-submenu li a {
    color: #000;
}

#nav-third-row #item-guitar-submenu li a:hover,
#item-drums-submenu li a:hover,
#item-keyboard-submenu li a:hover,
#item-studio-submenu li a:hover,
#item-sono-submenu li a:hover,
#item-lights-submenu li a:hover,
#item-dj-submenu li a:hover,
#item-cases-submenu li a:hover,
#item-accessories-submenu li a:hover {
    color: rgb(237, 146, 35);
    transition: all 400ms ease-out;
}

@media screen and (max-width: 576px) {

    #item-client-submenu-nav-coll
    {
        flex-direction: column;
    }

    #item-client-submenu-login-nav-coll
    {
        border-right: none !important;
        border-bottom-style: solid;
    }
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1080px) {
    #nav-third-row a.nav-link.ps-4 {
        padding-left: 0;
        padding-right: 0.5rem;
    }

    #item-guitar-submenu,
    #item-drums-submenu,
    #item-keyboard-submenu,
    #item-studio-submenu,
    #item-sono-submenu,
    #item-lights-submenu,
    #item-dj-submenu,
    #item-cases-submenu {
        width: 220%;
    }

    #item-accessories-submenu {
        position: absolute;
        top: 100%;
        left: -80%;
        width: 180%;
    }
}

@media screen and (min-width: 1200px) {
    #nav-third-row a.nav-link.ps-4 {
        padding-right: 1.3rem;
        margin-right: 0.5rem;
    }
}

/* FOOTER */

#footer {
    background-image: url("http://localhost/ci_village_green/assets/images/BACKGROUND/background_footer.png");
    /* background-color: rgb(55, 55, 55); */
    color: #c5c5c5;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    font-size: 0.6rem;
}

.link {
    color: #c5c5c5;
    text-decoration: none;
}

#footer .link:hover {
    color: rgb(237, 146, 35);
    transition: all 400ms ease-out;
}

/* #firstr {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 2%;
  padding-right: 2%;
} */

.orange {
    color: rgb(237, 146, 35);
}

#offers p {
    margin-bottom: 0;
}

.mail-form {
    font-size: 1rem;
}

#email {
    font-style: italic;
    border-radius: 5px;
    border: none;
    height: 1.8rem;
}

#valider {
    height: 1.8rem;
    color: #fff;
    background: linear-gradient(
            180deg,
            rgba(247, 146, 35, 1) 0%,
            rgba(180, 119, 79, 1) 73%
    );
    border: none;
    border-radius: 2px;
}

/* #social-networks {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* #social-networks p {
  margin-bottom: 0;
} */

/* @media screen and (max-width: 768px) {
  #contact-us,
  #infos,
  #useful,
  #more {
    width: 100%;
    padding-left: 2%;
  }
} */

/* #financial-partners img {
  height: auto;
  width: 100%;
} */

/* #secondr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1%;
} */

.footer-title {
    font-size: 0.8rem;
    font-weight: 600;
}

#footer h5,
.footer-title,
.number {
    color: #fff;
}

.number {
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    #footer {
        font-size: 1rem;
    }
}
/* #contact-us,
#infos,
#useful,
#more {
  width: 25%;
  padding-left: 2%;
} */

/* #thirdr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 0.5%;
} */

/* #thirdr p {
  margin-bottom: 0;
} */

/* #fourthr {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
} */

/* .footer-categories {
  color: #fff;
} */

/* #fourth p {
  display: flex;
  justify-content: center;
} */

/* .partner-links {
  margin-bottom: 0;
} */

/* FIN FOOTER */

/* Page Accueil */
/* Bannière promotionnelle accueil */

#mainContent {
    position: relative;
    z-index: 0;
    margin-left: 0;
    margin-right: 0;
}

#banner {
    margin-top: 2rem;
}

#banner-gibson {
    position: relative;
}

#banner-gibson-button {
    position: absolute;
    top: 3.5%;
    left: 2.0%;
    border: 2px solid #fff;
    max-width: 51.12%;
}

/* Bannière promotionnelle livraison */

/* #banner-delivery {
  margin-left: 2vw;
} */

/* Section catégories */

.item-categories {
    position: relative;
    /* width: auto;
    height: auto;
    background-color: #fff; */
}

.rollover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /* max-width: 299px; */
    /* height: auto; */
}

.rollover:hover {
    opacity: 1;
    transition: all 400ms ease-out;
}

/* #categories,
#best-sellers-partners {
  padding-top: 2%;
  padding-bottom: 1%;
} */

#header-categories {
    padding-left: 3%;
}

/* Section meilleures ventes */

#best-sellers {
    padding: 0;
}

#best-sellers header {
    padding-left: 5%;
}

#group-items-categories {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

#best-sellers-partners {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

/* Page list.php 
Affichage liste produit*/

/* #products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
} */

/* item produit */

.card-img-top
{
    max-height: 320px;
    width: auto;
}

.product-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 25%; */
    max-height: 70vh;
    border: 2px solid;
    border-radius: 10px;
    background-color: #fff;
    /* margin-left: 1rem; */
    margin-bottom: 1rem;
}

/* .product-box:hover {
  border: 2px solid rgb(56, 192, 226);
  transition: all 100ms ease-out;
} */

.rockin-right {
    transition: all 400ms ease-in-out;
}

.rockin-right:hover {
    transform: scale(1.10) rotateZ(45deg);
    transition: all 400ms ease-in-out;
}

.rockin-left {
    transition: all 400ms ease-in-out;
}

.rockin-left:hover {
    transform: scale(1.10) rotateZ(-45deg);
    transition: all 400ms ease-in-out;
}

.zoom
{
    transition: all 400ms ease-in-out;
}

.zoom:hover
{
    transform: scale(1.8) translateY(-25%);
}

/* boite image */

.product-box-body
{
    position: relative;
}

#addToBasketIcon
{
    position: absolute;
    top: 30%;
    right: 3%;
}

.product-box-img {
    max-height: 60%;
    /* display: flex;
    justify-content: center; */
}

/* .product-box img {
  max-height: 100%;
  width: auto;
  margin: 3% 0%;
} */

/* Descriptif boite produit */

.product-box-desc {
    font-weight: 300;
    color: #fff;
    background-color: #373737;
    /* min-height: 40%; */
    border-top: 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.product-label,
.product-box-price {
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: 2%;
}

.product-box-desc p {
    margin-bottom: 0%;
}

.product-box-price {
    color: rgb(56, 192, 226);
}

.product-box a {
    border: 0;
    background-color: transparent;
    color: rgb(56, 192, 226);
    font-size: 1.1rem;
}

@media screen and (max-width: 993px) {
    /* .product-box{
      width: 30%;
    } */

    /* .product-box-img {
      max-height: 40%;
    } */

    .product-label {
        font-size: 1.0rem;
    }

    .product-box-desc a {
        font-size: 1rem;
    }

    .product-box-price p
    {
        font-size: 1.1rem;
    }

}

/* -- Page productDetails -- */

/* #product-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

#product-image img {
    height: 50vh;
}

/* #product-image,
#product-stat {
  width: 50%;
} */

#product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#product-stat {
    background-color: #373737;
    color: #fff;
    padding: 1%;
}

.details-stat img {
    width: 1.6rem;
    height: auto;
    margin-right: 1%;
}

/* .details-body {
  display: flex;
  flex-direction: row;
} */

.details-header {
    border-bottom: 2px solid;
    margin-bottom: 1rem;
}

/* .details-stat,
.details-price {
  width: 50%;
} */

.details-price button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: rgb(42, 201, 105);
    border-radius: 10px;
    border-style: none;
    color: #fff;
    font-size: 1.3rem;
}

.details-body .label {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.your-price {
    font-size: 1.5rem;
    color: rgb(56, 192, 226);
}

.product-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
    min-height: 50vh;
}

#banner-services {
    display: flex;
}

#banner-services img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 767px) {
    .your-price {
        font-size: 2.0rem;
    }

}

@media screen and (min-width: 768px) {
    .product-desc {
        min-height: 30vh;
    }
}

@media screen and (min-width: 993px) {
    .your-price {
        font-size: 2.5rem;
        color: rgb(56, 192, 226);
    }
}

/* Page "signUp" */

#phone-form-box {
    background-color: rgb(189, 189, 189);
}

.phone-form-box-img {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
}

.orange-gradient {
    color: #fff;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3c5bd+0,ff6600+0,ff6600+0,e86c57+1,ff6600+17,ff6600+17,ea2803+43,ea2803+49,ea2803+62,c72200+99 */
    background: rgb(229, 129, 111);
    background: -moz-linear-gradient(
            top,
            rgba(229, 129, 111, 1) 0%,
            rgba(225, 60, 31, 1) 9%,
            rgba(206, 82, 0, 1) 40%,
            rgba(188, 33, 2, 1) 77%,
            rgba(164, 27, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
            top,
            rgba(229, 129, 111, 1) 0%,
            rgba(225, 60, 31, 1) 9%,
            rgba(206, 82, 0, 1) 40%,
            rgba(188, 33, 2, 1) 77%,
            rgba(164, 27, 0, 1) 100%
    );
    background: linear-gradient(
            to bottom,
            rgba(229, 129, 111, 1) 0%,
            rgba(225, 60, 31, 1) 9%,
            rgba(206, 82, 0, 1) 40%,
            rgba(188, 33, 2, 1) 77%,
            rgba(164, 27, 0, 1) 100%
    );
}

.orange-gradient:hover {
    color: #fff;
    opacity: 0.9;
    transition: opacity 400ms ease-out;
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 0.9rem;
    }
}

/* View Customers/ */

.bg-dark-grey {
    background-color: rgb(55, 55, 55);
}

#local-nav {
    border-top-right-radius: 15px;
}

/* View viewBasket */

#bag
{
    position: relative;
}

.bag-img-text
{
    font-size: 3rem;
    position: absolute;
    top: 42%;
    left: 30%;
}

.bag-text
{
    font-size: 1.5rem;
}

/* Vue viewBasket */

.img-mini
{
    height: 120px;
    width: auto;
}

#basket-text-box, #basket-text-box2
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../../assets/images/BACKGROUND/guitar-basket-text.jpeg');
    background-position: center;
    background-size: cover;
}

.basket-text
{
    color: #fff;
    font-size: 26px;
}

#pro_qty
{
    width: 30%;
}

@media screen and (max-width: 415px) {

    #pro_qty
    {
        width: 75%;
    }

}

/* Vue myAccount/Home */

@media screen and (max-width: 767px) {
    .account-content
    {
        min-height: 40vh;
    }

}

@media screen and (min-width: 768px) {
    #local-nav
    {
        min-height: 60vh;
    }

}

/* Vue myAccount/myOrders */

.order-line
{
    min-height: 150px;
}

/* Vue myAccount/orderDetails */

@media screen and (max-width: 767px) {

    table{
        font-size: 0.8rem;
    }
}
/* style page produits*/
.container-l{
    position: relative;
    display: flex;


}
@media screen and (max-width: 1010px) {
    .test{
        margin-left: 0em;
        clear: both;
        overflow: hidden;
        max-width: 500px;
    }
}

    .bas{
     padding: 0em;
    }




